h1
{
    text-align: center;
    font-weight: normal;
    text-decoration: underline salmon wavy;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: normal;
}
p{
    line-height: 2;
}
*
{
    background-color:pink;
}