@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,800&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
  text-decoration: none;
}
.navbar
{
    position: auto;
    width:100%;
    background:rgb(0, 0, 0);
    font-family: 'Ubuntu',sans-serif;
    padding: 30px 0;
    transition: all 0.3s ease;
    text-decoration: none;
}
.navbar li
{
    display:inline-block !important;
}
.navbar .menu li a
{
color: blanchedalmond;
font-size: 18px;
font-weight: 500;
margin-left:25px;
transition: color 0.3s ease;
text-decoration: none;
}
.navbar .logo a
{
    color:white;
 font-size: 15px;
 font-weight: 600;

}
.navbar .menu li {
    list-style: none;
    display: inline-block;

}
.navbar .max-width
{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.navbar.sticky
{
    padding: 50px 0;
    background: yellowgreen;
}

.max-width
{
    max-width: 1300px;
    padding:0 40px;
    margin:auto;
}
.home{
    display:flex;
    height:20px;
    background-attachment: fixed;
    min-height: 200px;
    color:white;
    font-family: 'Ubuntu',sans-serif;
    
}
.navbar .menu li:hover{
color: rgb(14, 131, 86);
text-decoration: none;
}
.home .home-content .text2
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text3
{
    font-size: 40px ;
    margin: 5px 0
}
.navbar .logo a span
{
    color:#dbf6e9;
    transition: all 0.3s ease;
    text-decoration: none;
}
.navbar.sticky .logo a span
{
    color: rgb(255, 255, 255);
}
.navbar.sticky .menu li a:hover
{
    color: gray;
}
.navbar .menu-button{
    color: yellow;
    font-size: 22px;
    cursor: pointer;
    display: inline;
}
.navbar .max-width img
{
        width: 82px;
        height: 82px;
        border-radius: 8px;
        overflow: hidden;
        margin-top: -6px;
        
}
.navbar .max-width img:hover{
    color:white;
}
   

.navbar .max-width :hover {
    color : teal;
    transition:0.3s;
  }
  .navbar .max-width img {
    border-radius: 5px 5px 0 0;
  }
  .container p
  {
      color:#FFC55C;
  }
  .container span
  {
      color:orange;
      text-shadow:teal;
      text-decoration:none;
  }
  .max-width .logo a span{
      color: greenyellow;
      text-decoration: none;
  }
  .max-width .logo {
      text-decoration: none;
  }
   .typing {
     color:greenyellow;
      
  }
  .navbar .menu-button
  {
      color: #FFCC33;
  }
  .navbar .max-width 
  {
      position: fixed;
  }

 .navbar .max-width .menu {padding-top:20px ; padding-bottom:5px ;}
.navbar {min-height:100px }
.menu-button
{
    position:relative;
    display:inline-block;
}
.cont
{
display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.cont a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-button:hover .cont
{
    text-decoration: none;
    display: block;
}
.jell
{
display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dep a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dep:hover .jell{
    text-decoration: none;
    display: block;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.img
{
    z-index:-1 i !important;
    
}







